// Tyylit uutiskirjepohjaa varten

$width: 600px
$font_size: 10.5pt
$padding: $font_size
$image_max_width: $width - ($padding * 2)
$border_width: 3px

$font_default: Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif
$color_default: #000
$color_article_background: #fff
$color_background: #ccddcc
$color_vihreat: #61bf1a

@import _fixes.sass

html, body
  font-family: $font_default
  background: $color_background
  font-size: $font_size  

body

h1, h2, h3, h4, h5, h6
  color: $color_vihreat
  margin: ($padding * 0.25) 0 ($padding * 0.25) 0
  /* margin: top right bottom left */
  font-weight: bold

h1
  font-size: $font_size * 2
  clear: both

h2, h3, h4, h5, h6
  clear: right

a
  font-weight: bold
  color: $color_vihreat
  text-decoration: none

  .special
    font-weight: bold
    padding: $padding * 0.5

a:hover
  text-decoration: underline

#page
  max-width: $width
  margin-left: auto
  margin-right: auto
  background: $color_article_background

  h1, h2, h3, h4, h5, h6, p
    padding: (0.3 * $padding) ($padding) (0.5 * $padding) ($padding)

  h1
    border-top: $font_size solid $color_background

  img
    max-width: $image_max_width

  img.small
    max-width: $image_max_width * 0.5

  .left
    float: left
    margin: 0 $padding $padding 0

  .right
    float: right
    margin: 0 0 $padding $padding

  div.site-title
    h1
      text-transform: uppercase
      margin: 0 (0.25 * $padding) 0 (0.25 * $padding)
      border-top: none
      font-size: 1.8 * $font-size

  div.footer
    border-top: $font-size solid $color_background
    font-size: 0.85 * $font_size
    padding: $padding

  blockquote
    p
      padding-left: 0
      font-weight: bold
    
header, div#header
  background: $color_vihreat
  margin: 0
  padding-top: 10px

  img
    max-width: 100%

    #site-logo
      width: 594px
      height: 50px


nav, div.nav
  font-size: 0.65 * $font_size
  background: $color_vihreat
  color: $color_article_background
  margin: 0
  padding: 0.25 * $padding

  ul
    margin: 0
    text-align: center

    li
      margin: 0
      list-style-type: none
      display: inline-block
      border: 2px solid $color_article_background
      padding: (0.5 * $padding) (0.25 * $padding) (0.5 * $padding) (0.25 * $padding)
      border-radius: 1.25em
      background: transparent
      width: 20px
      font-weight: bold

      a
        text-decoration: none
        color: $color_article_background

hr
  border: $border_width solid $color_vihreat
  margin: 0 0 (-$border_width) 0
  padding: 0
  height: 1

em
  font-style: italic

strong
  font-weight: bold
