<!doctype html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta content="width=device-width, initial-scale=1.0" name="viewport" />
		<title>{{ page.title }}</title>
		<style>
		<!--
			<!-- #STYLES# -->
		-->
		</style>
	</head>
	<body>
		<div id="page">
			<div class="" id="header">
				<img id="site-logo" alt="Vihreät - De Gröna" src="../../../images/newsletter/logo.png"/>
			</div>
			
			<div class="site-title">
				<h1>{{ page.title }}</h1>
				<hr/>
			</div>

			<div class="content">
				{{ content }}
			</div>

			<div class="footer">
				<p>Vihre&auml; kirje on vihreiden j&auml;senille ja puolueen toiminnasta kiinnostuneille tarkoitettu uutiskirje. Sen voit lukea my&ouml;s osoitteessa <a href="http://www.vihreat.fi/kirje">www.vihreat.fi/kirje</a>. Kirjeen tilaukset ja peruutukset hoituvat helpoiten osoitteessa <a href="http://vihreat@vihreat.fi">vihreat@vihreat.fi</a>. Osoitteenmuutoksissa ja muissa j&auml;senasioissa voit olla yhteydess&auml; osoitteeseen <a href="http://jasenasiat@vihreat.fi">jasenasiat@vihreat.fi</a></p>
			</div>
		</div>
	</body>
</html>
