<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>

    <title>{{ page.title }}</title>
    <style type="text/css">
      
      /* Ink styles go here in production */
      
    </style>
    <style type="text/css">

      /* Your custom styles go here */

    </style>
  </head>
  <body>
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center>

            <table class="row header">
              <tr>
                <td class="center" align="center">
                  <center>
                    <table class="container">
                      <tr>
                        <td class="wrapper last">
                          <table class="twelve columns">
                            <tr>
                              <td class="twelve columns">
                                <img id="site-logo" alt="Vihreät - De Gröna" src="../../../images/newsletter/logo.png"/>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </center>
                </td>
              </tr>
            </table>

            <table class="container">
              <tr>
                <td>
                  <table class="row">
                    <tr>
                      <td class="wrapper last">
                        <table class="twelve columns">
                          <tr>
                            <td><h1>{{ page.title }}</td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>

                  <table class="row">
                    <tr>
                      <td class="wrapper last">
                        <table class="twelve columns">
                          <tr>
                            <td>{{ content }}</td>
                            <td class="expander"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>

                  <table class="row footer">
                    <tr>
                      <td class="wrapper">
                        <table class="twelve columns">
                          <tr>
                            <td class="left-text-pad">
                              <p>Vihre&auml; kirje on vihreiden j&auml;senille ja puolueen toiminnasta kiinnostuneille tarkoitettu uutiskirje. Sen voit lukea my&ouml;s osoitteessa <a href="http://www.vihreat.fi/kirje">www.vihreat.fi/kirje</a>. Kirjeen tilaukset ja peruutukset hoituvat helpoiten osoitteessa <a href="http://vihreat@vihreat.fi">vihreat@vihreat.fi</a>. Osoitteenmuutoksissa ja muissa j&auml;senasioissa voit olla yhteydess&auml; osoitteeseen <a href="http://jasenasiat@vihreat.fi">jasenasiat@vihreat.fi</a></p>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>

          </center>
        </td>
      </tr>
    </table>
  </body>
</html>
